<div id="pageTitle">
	<h1><%= @thing.title%></h1>
</div>

<div id="toolbar">
        <%= link_to "Back", :action => :index %>
        <%= link_to "Edit", :action => :edit, :id => @thing.object %>
</div>


<div id="content">

    <table>
      
      <tr>
    	<td class="itemLabel">Title</td>
        <td class="itemValue"><%= @thing.title%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Description</td>
        <td class="itemValue"><%= @thing.description%></td>
      </tr>

      <tr>
    	<td class="itemLabel">Checkbox1</td>
        <td class="itemValue"><%= @thing.checkbox1%></td>
      </tr>

      <tr>
    	<td class="itemLabel">Checkbox2</td>
        <td class="itemValue"><%= @thing.checkbox2%></td>
      </tr>

      <tr>
    	<td class="itemLabel">Checkbox3</td>
        <td class="itemValue"><%= @thing.checkbox3%></td>
      </tr>

      <tr>
    	<td class="itemLabel">Radio Button</td>
        <td class="itemValue"><%= @thing.radio_button%></td>
      </tr>

      <tr>
    	<td class="itemLabel">Select Box</td>
        <td class="itemValue"><%= @thing.select_box%></td>
      </tr>

      <tr>
    	<td class="itemLabel">Text Area</td>
        <td class="itemValue"><%= @thing.text_area%></td>
      </tr>
      
    </table>
</div>